﻿@using WebApplication1.Models;
@model IEnumerable<Blog>
@{
    ViewBag.Title = "Home Page";
}

@*@section styles {

    <link rel="stylesheet" href="~/Plugins/slippry/dist/slippry.css" />
    <style type="text/css">
        /* News */
        .news-slider {
            /* Style the actual content */
        }

            .news-slider .text-content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                background-color: rgba(255, 255, 255, 0.9);
                padding: 1em;
                width: 30%;
                height: 100%;
            }

                .news-slider .text-content h2 {
                    margin: 0;
                }

                .news-slider .text-content p {
                    margin: 1em 0;
                }

                .news-slider .text-content a.button-link {
                    padding: 0.25em 0.5em;
                    position: absolute;
                    bottom: 1em;
                    right: 1em;
                }

            .news-slider .image-content {
                line-height: 0;
            }

                .news-slider .image-content img {
                    max-width: 100%;
                }

            .news-slider .news-pager {
                text-align: right;
                display: block;
                margin: 0.2em 0 0;
                padding: 0;
                list-style: none;
            }

                .news-slider .news-pager li {
                    display: inline-block;
                    padding: 0.6em;
                    margin: 0 0 0 1em;
                }

                    .news-slider .news-pager li.sy-active a {
                        color: #31ace2;
                    }

                    .news-slider .news-pager li a {
                        font-weight: 500;
                        text-decoration: none;
                        display: block;
                        color: #222;
                    }
    </style>
}*@

@*<section id="news-demo">
    @foreach (Blog b in Model)
    {
        <blog>
            <div class="text-content">
                <h2>@b.Heading</h2>
                <a href="#!" class="button-link read-more">read more</a>
            </div>
            <div class="image-content"><img src="~/Images/@b.ImagePath" alt="demo1_1"></div>
        </blog>
    }
</section>*@

@*@section scripts {

    <script src="~/Plugins/slippry/dist/slippry.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#news-demo').slippry({
                // general elements & wrapper
                slippryWrapper: '<div class="sy-box news-slider" />', // wrapper to wrap everything, including pager
                elements: 'article', // elments cointaining slide content

                // options
                adaptiveHeight: false, // height of the sliders adapts to current
                captions: false,

                // pager
                pagerClass: 'news-pager',

                // transitions
                transition: 'horizontal', // fade, horizontal, kenburns, false
                speed: 1200,
                pause: 8000,

                // slideshow
                autoDirection: 'prev'
            });
        });
    </script>

}*@


<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>